= form_for @game, html: {class: 'form-horizontal'} do |f|
  - if @game.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      %ul
        - @game.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :length_type, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :length_type, Game.length_type.options, {}, class: 'form-control'

  = f.fields_for :results do |ff|
    = ff.hidden_field :position
    .form-group
      = ff.label :user_id, class: 'col-sm-2 control-label' do
        = ff.object.position_text
      .col-sm-2
        = ff.select :user_id, options_from_collection_for_select(User.all, :id, :name), {include_blank: true}, class: 'form-control'

      = ff.label :point, class: 'col-sm-2 control-label'
      .col-sm-6
        = ff.text_field :point, class: 'form-control'



  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Save', class: 'btn btn-default'
