- if @game.errors.any?
  #error_explanation
    %h2= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
    %ul
      - @game.errors.full_messages.each do |msg|
        %li= msg

= simple_form_for @game, html: {class: 'form-horizontal'} do |f|
  %h2 ゲームの設定
  .form-group
    = f.input :length_type, collection: Game.length_type.options

  %h2 プレイヤー戦績入力
  = f.simple_fields_for :results do |rf|
    = rf.hidden_field :position
    .form-group
      = rf.association :user, label: rf.object.position_text, wrapper: :horizontal_form_short
      = rf.input :point, wrapper: :horizontal_form_medium

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit, 'Save'

:javascript
  $('input.numeric').on('blur', function() {
    var $inputs = $('input.numeric')

    var filled = _.filter($inputs, function(i) { return !!i.value;  });
    if (filled.length !== 3) {
      return;
    }

    var vals = _.map(filled, function(i) { return parseInt(i.value) });
    var sum = _.reduce(vals, function(t, n) { return t += n });
    var rest = 1000 - sum
    var empty = _.find($inputs, function(i) { return !i.value; })
    empty.value = rest;
  });
