- if @game.errors.any?
  #error_explanation
    %h2= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
    %ul
      - @game.errors.full_messages.each do |msg|
        %li= msg

= simple_form_for @game, html: {class: 'form-horizontal'} do |f|
  .form-group
    = f.input :length_type, collection: Game.length_type.options

  = f.simple_fields_for :results do |rf|
    = rf.hidden_field :position
    .form-group
      = rf.association :user, label: rf.object.position_text, wrapper: :horizontal_form_short
      = rf.input :point, wrapper: :horizontal_form_medium

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit, 'Save'
