%h1 Listing games

%table.table
  %thead
    %tr
      %th= link_to 'メンツ', users_path
      %th
      %th
      %th

  %tbody
    - @games.each do |game|
      %tr
        %td= game.results.sort_by(&:ranking).sum{|r| "#{r.user.name} | "}.chop.chop
        %td= link_to 'Show', game
        %td= link_to 'Edit', edit_game_path(game)
        %td= link_to 'Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Game', new_game_path
